#root {
  display: flex;
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
  padding: 20vh 20vw 20vh 20vw;
  gap: 4vw;
}